* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #222;
  color: #fff;
  font-family: system-ui;
}
.crud {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #111;
  color: white;
}
input:focus {
  background-color: #000;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
#total {
  background-color: #186765;
  padding: 3px;
  border-radius: 5px;
  display: flex;
}
#total::before {
  content: "Total: ";
}
button {
  width: 100%;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #186765;
  color: white;
  font-weight: bold;
  margin: 5px;
}
.BTN {
  display: flex;
  justify-content: center;
  align-items: center;
}
#submit {
  width: 50%;
}
.btnSearch {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px;
}
.btnSearch button {
  width: 20%;
}
table {
  width: 102%;
  text-align: center;
}
table th {
  font-size: 13px;
  text-transform: uppercase;
}
td button {
  width: fit-content;
}
#deleteAll button {
  background-color: #b7515d;
}
